 /* :root {
  --yellow: #eef13f;
  --orange: #fe6638;
  --green: #80b238;
  --blue: #80c1d6;
}

* {
  box-sizing: border-box;
  
   color: #fff; 
}

body {
  
  background: var(--blue);
  color: #fff;
  font-family: Atma, sans-serif;
  margin: 0;
 
 
  font-size: 1.5rem;

}

h1,
h2 {
  margin-top: 0;
}

h1,
h2,
h1 + p,
button {
  font-family: Bangers, sans-serif;
  letter-spacing: 2px;
}



 nav ul {
  display: flex;
  justify-content: space-around;
  background-color: var(--green);
  list-style-type: none;
 
}

ul a {
  text-decoration: none;

}
header {
  background-image:url("../img/blue-splash.png");
  min-height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain, cover;
  display: inline-flex;
   display: flex;  
  align-items: center;
  justify-content: center;  


     
}
header h1 {
   color: var(--orange) 
 
 
  
}
header p {
   color: var(--orange) 

}

 main{
  display: flex;
  flex-direction: column;
} 
.obstacles-group, .prizes-group{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}  
.wrap1 {
  background-color: var(--orange);
}
section h2 {
  padding: 40px;
  text-align: center;
  
}
section h3 a{
  text-decoration: none;
}
article {
  background-color: var(--green);
  margin: 0 0 90px 0;
  border-radius: 30px;
  padding: 0 50px;

}
#prizes{
  background-color: var(--green);
  /* border-radius: 30px; 
  padding: 30px ;
}

@media (min-width: 640px) {
  

} */


:root {
  --yellow: #eef13f;
  --orange: #fe6638;
  --green: #80b238;
  --blue: #80c1d6;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--blue);
  color: #fff;
  font-family: Atma, sans-serif;
  margin: 0;
  font-size: 1.5rem;
  background-image: url("../img/blue-splash.png");
  background-size: contain;
  background-repeat: no-repeat;
}

h1,
h2 {
  margin-top: 0;
}

h1,
h2,
h1 + p,
button {
  font-family: Bangers, sans-serif;
  letter-spacing: 2px;
}

/* HEADER */

nav {
  opacity: 0.8;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--green);
  margin: 0;
  padding: 20px;
  text-transform: uppercase;
}

ul > li:hover {
  transform: rotate(-10deg)
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

header {
width: 100%;
height: 100vh;
background-repeat: no-repeat;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: var(--orange);
line-height: 0px;
}

h1 {
  font-size: 140px;
}

header > p {
  font-size: 100px;
}

/* section */

h2 {
  text-align: center;
  text-shadow: 1px 1px black;
}

/* SECTION OCSTACLES */

#obstacles {
  background-color: var(--orange);
  padding: 30px;
}

.obstacles-group, .prizes-group {
  display: flex;
  gap: 1rem;
  justify-content: center;
  border-radius: 10px;
}

.obstacles article {
  background-color: var(--green);
  text-align: center;
  border-radius: 20px;
  padding: 0 70px;
}

.obstacles article:hover {
  background-color: var(--yellow);
}

.obstacles article a:hover {
  color: var(--orange);
}

/*  SECTION PRIZES */

#prizes {
  background-color: var(--green);
  padding: 30px;
}

.prizes article {
  border: 3px dashed var(--yellow);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#apply {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#apply {
  padding: 50px;
}

label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  background-color: var(--orange);
  width: 500px;
  height: 40px;
  border-radius: 10px;
  border: none;
}

input::placeholder {
  color: white;
}

button {
  background-color: var(--yellow);
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
}

button:hover {
  background-color: var(--green);
  color: white;
}



footer {
  text-align: center;
  background-color: var(--yellow);
  color: black;
  padding: 20px ;
}



/* ... Your turn! ... */

@media (min-width: 640px) {
  
}
© 2021 GitHub, Inc